<% include partials/header%>

    <div class="ui main text container segment">
        <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="post">
            <div class="ui huge header">Edit Blog</div>
            <div class="field">
                <label>Title:</label>
                <input type="text" name="blog[title]" value="<%=blog.title%>">
            </div>
            <div class="field">
                <label>Image URL:</label>
                <input type="text" name="blog[image]" value="<%=blog.image%>">
            </div>
            <div class="field">
                <label>Blog content:</label>
                <textarea rows="10" name="blog[body]" cols="10"0><%-blog.body%></textarea>
            </div>
            <div class="field">
                <input class="ui basic violet button big" type="submit" >
            </div>
        </form>
    </div>

<% include partials/footer%>